* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgb(60, 60, 209), rgb(80, 80, 240), rgb(100, 150, 255));
    font-family: "Roboto", sans-serif;
}

.startButton {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.infoBox,
.quizBox,
.resultBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease;
}

.infoBox.activeInfo,
.quizBox.activeQuiz,
.resultBox.activeResult {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.startButton button {
    font-size: 25px;
    font-weight: 500;
    color: white;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #ff6f61;
    cursor: pointer;
}

.infoBox {
    width: 540px;
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);    
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.infoBox .infoTitle {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    font-weight: 600;
}

.infoBox .infoList {
    list-style-position: inside;
    padding: 15px 15px;

}

.infoBox .infoList .info {
    margin: 5px 0;
    font-size: 17px;
}

.infoBox .infoList .info span {
    font-weight: 600;
    color: rgb(60, 60, 209);
}

.infoBox .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgray;
}

.infoBox .buttons button {
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(60, 60, 209);
    background: rgb(60, 60, 209);
    border-radius: 5px;
    color: white;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart {
    background: rgb(60, 60, 209);
    color: white;
}

.buttons button.restart:hover {
    background: rgb(75, 75, 226);
}

.buttons button.quit {
    color: rgb(60, 60, 209);
    background: transparent;
}

.buttons button.quit:hover {
    background: rgb(75, 75, 226);
    color: white;
}

.quizBox {
    width: 550px;
    background: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.quizBox header {
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quizBox header .title {
    font-size: 20px;
    font-weight: 600;
}

.quizBox header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: white;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}

.quizBox header .timer .timerText {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.quizBox header .timer .timerTime {
    font-size: 18px;
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #343a40;
    user-select: none;
}

.quizBox header .timeLine {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: rgb(75, 75, 226);
}

.quizBox section {
    padding: 25px 30px 20px 30px;
    background: white;
}

.quizBox section .queText {
    font-size: 25px;
    font-weight: 600;
}

.quizBox section .optionList {
    padding: 20px 0;
    display: block;
}

section .optionList .option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .optionList .option:hover {
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.optionList .option:last-child {
    margin-bottom: 0px;
}

.optionList .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

.optionList .option .icon.tick {
    border-color: #23903c;
    color: #23903c;
    background: #d4edda;
}

.optionList .option .icon.cross {
    border-color: #a4283a;
    color: #f8d7da;
    background: #a4283a;
}

.optionList .option.correct {
    border-color: #c3e6cb;
    color: #155724;
    background: #d4edda;
}

.optionList .option.incorrect {
    border-color: #f5c6cb;
    color: #721c24;
    background: #f8d7da;
}

.optionList .option.disabled {
    pointer-events: none;
}

.quizBox footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quizBox footer .totalQue span {
    display: flex;
    user-select: none;
}

footer .totalQue span p {
    font-weight: 500;
    padding: 0 5px;
}

.totalQue span p:first-child {
    padding-left: 0px;
}

footer .nextQue {
    display: none;
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: white;
    background: #007bff;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .nextQue:hover {
    background: #0263ca;
}

.resultBox {
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.resultBox .icon {
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.resultBox .textDesc {
    font-size: 20px;
    font-weight: 500;
}

.resultBox .scoreText span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.scoreText span p {
    font-weight: 600;
    padding: 0 4px;
}

.resultBox .buttons {
    display: flex;
    margin: 20px 0;
}

.resultBox .buttons button {
    margin: 0 10px;
    height: 40px;
    padding: 0 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
}

.Logo {
    display: flex;
    margin-left: 60px;

}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 60px;
    margin-right: 60px;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px;
}


.left p {
    width: 50%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.left {
    color: white;
}

.left h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 370px) {
    .container {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 30px;
        row-gap: 20px;
    }

    .left h1 {
        text-align: center;
        font-size: 40px;
    }

    .left {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .left p {
        width: 100%;
        text-align: center;
    }

    .Logo h2 {
        font-size: 20px;
    }

    .right {
        border: 8px solid white;
        border-radius: 50%;
        padding: 20px;
    }

    .right img {
        height: 100px;
        width: 100px;
    }

    nav ul {
        margin-right: 0px;
        column-gap: 10px;
        font-size: 16px;
    }

    .Logo {
        margin-left: 0px;
        column-gap: 5px;
    }

    .container {
        flex-direction: column;
    }

    .startButton,
    .infoBox,
    .quizBox,
    .resultBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
            0px 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.3s ease;
    }

    .startButton {
        width: 172px;
        left: 50%;
        top: 92%;
        border-radius: 40px;
    }

    .startButton button {
        border-radius: 40px;
    }

    .infoBox {
        width: 305px;
        left: 50%;
        top: 50%
    }

    .quizBox {
        width: 284px;
        height: 515px;
        left: 50%;
        top: 50%;
        overflow: hidden;
    }

    .quizBox header .timer {
        margin-left: 3px;
    }

    .quizBox header .timer .timerText {
        font-size: 15px;
    }

    .quizBox header .title {
        font-size: 18px;
    }

    .quizBox section {
        height: 391px;
    }

    .quizBox section .queText {
        font-size: 20px;
    }

    section .optionList .option {
        font-size: 15px;
    }

    .quizBox footer {
        height: 55px;
        width: 100%;
    }

    footer .nextQue {
        height: 32px;
        padding: 5px 18px;
    }

    .resultBox {
        width: 290px;
        left: 50%;
        top: 50%
    }

    .resultBox .scoreText span {
        font-size: 17px;
    }

    .resultBox .buttons button {
        height: 50px;
        padding: 4px 23px;
        font-size: 16px;
    }

    .optionList .option .icon {
        height: 22px;
        width: 22px;
        line-height: 20px;
    }
}

@media (min-width: 375px) and (max-width: 767px) {
    .container {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        row-gap: 20px;
    }

    .left h1 {
        text-align: center;
        font-size: 40px;
    }

    .left {
        order: 2;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .left p {
        width: 100%;
        text-align: center;
    }

    .Logo h2 {
        font-size: 20px;
    }

    .right {
        border: 8px solid white;
        border-radius: 50%;
        padding: 20px;
    }

    .right img {
        height: 100px;
        width: 100px;
    }

    nav ul {
        margin-right: 0px;
        column-gap: 10px;
        font-size: 16px;
    }

    .Logo {
        margin-left: 0px;
        column-gap: 5px;
    }

    .container {
        flex-direction: column;
    }

    .startButton,
    .infoBox,
    .quizBox,
    .resultBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
            0px 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.3s ease;
    }

    .startButton {
        width: 172px;
        left: 50%;
        top: 88%;
        border-radius: 40px;
    }

    .startButton button {
        border-radius: 40px;
    }

    .infoBox {
        width: 324px;
        left: 50%;
        top: 50%
    }

    .quizBox {
        width: 320px;
        height: 515px;
        left: 50%;
        top: 50%;
        overflow: hidden;
    }

    .quizBox header .timer {
        margin-left: 3px;
    }

    .quizBox header .timer .timerText {
        font-size: 15px;
    }

    .quizBox header .title {
        font-size: 20px;
    }

    .quizBox section {
        height: 391px;
    }

    .quizBox section .queText {
        font-size: 22px;
    }

    section .optionList .option {
        font-size: 17px;
    }

    .quizBox footer {
        height: 45px;
        width: 100%;
    }

    footer .nextQue {
        height: 33px;
        padding: 5px 26px;
    }

    .resultBox {
        width: 320px;
        left: 50%;
        top: 50%
    }

    .resultBox .scoreText span {
        font-size: 17px;
    }

    .resultBox .buttons button {
        height: 50px;
        padding: 4px 23px;
    }

    .optionList .option .icon {
        height: 22px;
        width: 22px;
        line-height: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    nav {
        display: flex;
        justify-content: space-between;
        background: white;
        padding: 20px;
    }

    .Logo {
        display: flex;
        margin-left: 60px;
        column-gap: 10px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        column-gap: 60px;
        margin-right: 60px;
        font-size: 20px;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 60px;
    }

    .left p {
        width: 90%;
        font-size: 20px;
    }

    .left {
        color: white;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .left h1 {
        font-size: 50px;
    }
    .startButton {
        width: 172px;
        left: 50%;
        top: 80%;
        border-radius: 40px;
    }
    .startButton button{
        border-radius: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    nav {
        display: flex;
        justify-content: space-between;
        background: white;
        padding: 20px;
    }

    .Logo {
        display: flex;
        margin-left: 60px;
        column-gap: 10px;
    }

    nav ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        column-gap: 60px;
        margin-right: 60px;
        font-size: 20px;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 60px;
        margin-top: 120px;
    }

    .left p {
        width: 80%;
        font-size: 28px;
    }

    .left {
        color: white;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .left h1 {
        font-size: 70px;
    }

    .startButton,
    .infoBox,
    .quizBox,
    .resultBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
            0px 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .startButton {
        width: 172px;
        left: 50%;
        top: 80%;
        border-radius: 40px;
    }
    .startButton button{
        border-radius: 40px;
    }
   
}